extends layout

block content
  .container
    .row
      .col.s12.m6
        .card.white
          .card-content
            span.card-title
              | #{image.originalname} (#{image.mimetype})
            p
              | Date: #{image.date}
          .card-action.center
            a.waves-effect.waves-light.btn-large(href="/file/#{image.filename}",download="#{image.originalname}")
              i.material-icons.left play_for_work
              | Download
      .col.s12.m6
        .card.white
          .card-content
            .row.center
              img(src="/file/#{image.filename}",width="400px").materialboxed
