extends layout

block content
  .container
    .row
      .col.s12
        .card
          .card-content
            span.card-title 
            .row.center
              h2(style="font-weight:100;") #{user.username}'s profile
              h5
                a(href="mailto:#{user.email}")(style="font-weight:100;") #{user.email}
              br
              hr
            .row
              h5(style="font-weight:100;").center Images
              each val, index in user.images
                .col.s12.m6.center
                  a(href="/image/#{val}") #{val}
          .card-action
            a(href='#') Uploads
            a(href='#') SomethingElse

